html {
    font-family: 'Gowun Batang', serif;
    text-align: center;
    margin: 0;

    --color-grey-900: rgb(44, 44, 44);
    --color-grey-700: rgb(84, 84, 84);

}

* {
    margin: 0;
}

header {
    padding: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: linear-gradient(0deg, #c3715100, rgba(250, 214, 161, 0.402),rgba(233, 109, 126, 0.269)); */
    background-color: rgba(255, 255, 255, 0.278);
}

a {
    text-decoration: none;
  }

header a {
    color:var(--color-grey-900);    
    font-weight: bold;

}

header h1 a {
    font-family: cursive;
    font-size: 2rem;
    text-shadow: 4px 4px 4px rgba(240, 240, 237, 0.766);
    margin-left: 1.5rem;
}

header nav {
    display: none;
    justify-content: space-between;
}

header nav a {
    font-size: 1rem;
    border-radius: 4px;
    margin: 0;
    padding: 0.75rem 1.25rem;
    display: inline-block;
    width: 4rem;
    letter-spacing: 0.1rem;
}

header nav a:hover {
    background-color: rgba(86, 85, 85, 0.06);
}

.menu-btn {
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.menu-btn span {
    width: 100%;
    height: 3px;
    background-color: var(--color-grey-700);
}

#sidebar {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-grey-900);
    position: fixed;
    top:0;
    left:0;
    margin:0;
    display: none;
}

#sidebar:target {
    display: block;
}

#sidebar header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
}

#sidebar main {
    margin: 10rem 0;
}

#sidebar ul{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0;
}


#sidebar li {
    list-style: none;
    margin: 3rem;
}

#sidebar main a {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(101, 101, 101, 0.49);
    transition: 0.5s;
}

#sidebar main a:hover {
    color:rgb(239, 184, 96);
}

@media (min-width: 900px) {
    header h1 a {
        font-size: 2rem;    
        margin-left: 2rem;
    }

    header nav {
        display: flex;
    }
    
    header nav a {
        font-size: 1.125rem;    
        width: 5rem;
    }

    .menu-btn {
        display: none;
    }
    
}