
* {
    font-family: 'Gowun Batang', serif;
    text-align: center;
    margin: 0;
}


header {
    padding: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: linear-gradient(0deg, #c3715100, rgba(250, 214, 161, 0.402),rgba(233, 109, 126, 0.269)); */
    background-color: rgba(255, 255, 255, 0.278);
}

a {
    text-decoration: none;
    margin-left: 2rem;
  }

header a {
    color:rgb(44, 44, 44);
}

header h1 a {
    color:rgb(44, 44, 44);
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    text-shadow: 4px 4px 4px rgba(240, 240, 237, 0.766);
    font-weight: bold;

}

header nav a {
    font-size: 1rem;
    border-radius: 4px;
    padding: 0.75rem 1.25rem;
    text-shadow: none;
    display: inline-block;
    width: 4rem;
    font-weight: bold;
    letter-spacing: 0.1rem;

}

header nav a:hover {
    background-color: rgba(86, 85, 85, 0.06);
}



@media (min-width: 900px) {
    header h1 a {
        font-size: 2rem;    
    }

    header nav a {
        font-size: 1.125rem;    
        width: 5rem;
    }
}